body {
	background-image: url('background2.jpeg');
	background-repeat: repeat;
}

header {
	width: 100%;
	height: 200px;
	background-color: #a7f43d;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 6%;
	border: 5px solid white;
}

h1 {
	font-family: 'Bungee Shade', cursive;
	font-size: 4em;
}

table {
	display: inline-block;
	vertical-align: top;
	font-family: 'Yrsa', serif;
}

th {
	font-family: 'Space Mono', monospace;
}

.color {
	background-color: #3f046f;
}

.explain {
	background-color: #a468d5;
}
