/*new polices for the web brower*/
@font-face {
	font-family: 'Pacifico';
	src: url('Pacifico.ttf');

	font-family: 'OpenSans-Regular';
	src: url('OpenSans-Regular.ttf');

}

/*Allows the page to be smaller than the screen*/
body {
	background-color: grey;
	width: 100%;
}

#contain {
	width: 80%;
	height: 100%;
	background-color: white;
	margin: auto;
}

/*start header with image and text*/
header {
	width: 100%;
	height: 200px;
	border-bottom: 10px #f05033 solid;
	border-radius: 20px;
	box-shadow: 0px 2px 15px black; 
}

#imgheader {
	width: 30%;
	height: 160px;
	float: left;
	margin-left: 5px;
	margin-top: 20px;
}

#imgheader img {
	width: 100%;
	height: 100%;
}

header h1 {
	padding-top: 60px;
	padding-left: 20px;
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 4em;
	color: #0c4c61;
}

/*start the center of the page with the nav bar and content*/
section {
	width: 100%;
}

/*menu*/
nav {
	width: 30%;
	height: 60%;
	background-color: #f05033;
	margin-top: 2%;
	display: inline-block;
	vertical-align: top;
	margin-left: 2%;
	margin-right: 4%;
	border-radius: 20px;
}

nav li {
	list-style-type: none;
	margin-top: 7%;
	margin-bottom: 7%;
}

nav a {
	text-decoration: none;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	color: #0c4c61;
}

/*content: text and table*/
#content {
	width: 60%;
	height: 100%;
	margin-top: 2%;
	display: inline-block;
	vertical-align: top;
}

p, table {
	font-family:'OpenSans-Regular', serif;
}

td, th {
	border: 2px solid #0c4c61;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4px;
}

th {
	font-size: 2em;
	font-family: 'Pacifico', cursive;
	color: #f05033;
	background-color: #0c4c61;
}

/*start footer*/
footer {
	width: 100%;
	height: 200px;
	background-color: #f05033;
	color: #0c4c61;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	padding-top: 22px;
	font-style: italic;
}

footer a {
	text-decoration: none;
}

/*allows the design to be responsive on mobile and medium devices*/
@media screen and (max-width: 850px)
{

	#contain {
	width: 100%;
	}

	#imgheader {
		display: none;
	}	

	header h1 {
		font-size: 2em;
	}

	nav, #content {
	display: block;
	width: 90%;
	}	

	footer {
	font-size: 1em;
	}

	td, th {
	padding-left: 1%;
	}

	th {
	font-size: 1em;
	}

	p {
	text-align: center;
	margin-left: 3%;
	}

}
